.navbar-lewagon {
  justify-content: space-between;
  background-color: #112D4E;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid black;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .nav-link, .navbar-brand {
    color: white;
    &:hover {
      color: #d1e0ff;
    }
  }

  .nav-item .active {
    color: #f5c518;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  .navbar-nav {
    gap: 1rem;
    align-items: center;
  }
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
